ufo2000
ufo2000.ini
ufo2000.ilog
ufo2000.log
obj/
squad.lua
init-scripts.log


XCOM/*
!XCOM/.keep

TFTD/*
!TFTD/.keep

units/*
!units/.keep

equipment.lua

*.tmp
cur_p1.dat
cur_p2.dat
cur_map.lua
battlereport.txt
